.img-fluid {
  padding: 0;
  margin: 0;
  max-height: 40px;
  max-width: 100%;
  height: auto;
}

.container {
  background-color: gainsboro;
  width: 80%;
  margin: auto;
  /* display: block !important;
  justify-content: center !important;
  align-items: center !important; */
}
