#hero {
  width: 100%;
  height: 85vh;
  background-image: url(../../Blended-learning-e-learning.jpeg);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  padding: 36px 0;
  flex-grow: inherit;
  position: relative;
  display: block;
  margin-top: 10vh;
}
.img-fluid {
  padding: 0;
  margin: 0;
  max-height: 40px;
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
  overflow: hidden;
}
#hero .container {
  /* padding-top: 72px; */
}

.studentContainer {
  background-color: white;
  /* width: 80%; */
  margin: auto;
  /* display: block !important;
  justify-content: center !important;
  align-items: center !important; */
}

.selectBar {
  background-color: white;
  /* width: 80%; */
  margin: 30px auto;
}

.adminBgLeft {
  background-color: #7e94cf;
  height: 85vh;
}

.adminBgRight {
  background-color: #d2dbeb;
  height: 85vh;
}
